/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a2e; /* Dark blue background */
    color: #fff; /* White text */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    background-color: #16213e; /* Dark blue header background */
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.logo h1 {
    color: #e94560; 
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-left: 1.5rem; 
}

nav ul li:first-child {
    margin-left: 0; 
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-size: 1.2rem; 
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e94560; 
}

/* Main styles */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container {
    background-color: #16213e; 
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 800px; 
    width: 100%;
    animation: zoomIn 0.5s ease-in-out;
}
main h1{
    font-size: 2rem;
    margin-bottom: 1.5rem; 
    color: #e94560;
    animation: pulse 1.5s infinite;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #e94560; 
    animation: pulse 1.5s infinite;
}

main p {
    color: #fff; 
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Footer styles */
footer {
    width: 100%;
    background-color: #16213e; 
    padding: 1rem 0;
    text-align: center;
    color: #fff; 
    margin-top: auto;
}

footer p {
    margin: 0;
}

button {
    background: linear-gradient(to right, #e94560, #0f3460);
    color: #fff;
    border: none;
    padding: 0.75rem 2rem;
    margin-top: 1.5rem; /* Space between h2 and button */
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(233, 69, 96, 0.5);
}

/* Animations */
@keyframes pulse {
    0% {
        text-shadow: 0 0 10px #e94560, 0 0 20px #e94560, 0 0 30px #e94560, 0 0 40px #e94560;
    }
    100% {
        text-shadow: 0 0 20px #e94560, 0 0 30px #e94560, 0 0 40px #e94560, 0 0 50px #e94560;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
